:root{
  color-scheme: light

  --btn-height: 44px
  --border-radius: 8px
  --border-radius2: 12px

  --primary: #041C3A
  --info: #657aff
  --secondary: #F2F3F5
  //--success-light: #c8e6c9
  //--info-light: #b3e5fc
  //--warn-light: #ffecb3
  //--danger: #ff3838
  //--danger-light: #ffd5d5
  --bg-color: #ffffff
  --bg-color-secondary: #F8F7F9
  --border-color: #71747A
  --border-color2: #6C417C
  --border-color3: #F2F2F2
  --border-color4: #E1E1E1
  --border-color-primary: #472056
  //--box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px
  //--box-shadow-dialog: 0px 8px 24px rgba(0, 0, 0, 0.08), 0px 0px 48px rgba(0, 0, 0, 0.04)
  //--dialog-bg-color: #ffffff
  --text-color: #736977;
  --text-color-reverse: #ffffff
  --link-color: #300540;
  --link-color-inactive: #736977;
  --link-bg: #F0E6F3;

  //--text-color-danger: #db0d0d
  //--text-color-secondary: #909398
  //--text-color-plh: #bcc0c5
  //--link-color: #1a1a2a
  //--input-bg: rgba(201, 204, 209, 0.24)
  //--input-bg-danger: #ffe4e4
  //--input-bg-autocomplete: #f3f3f3
  //--input-bg-autocomplete-danger: #ffe4e4
  //--input-border-color: #cccccd
}

html.dark-mode{
  color-scheme: dark
}

