$font_regular = "poppins_regular"
$font_light = "poppins_light"
$font_medium = "poppins_medium"
$font_semi_bold = "poppins_semi_bold"
$font_bold = "poppins_bold"
$font_extra_bold = "poppins_extra_bold"


$btn_height = 44px

$media_xl = '(min-width: 1920px)'
$media_l = '(max-width: 1366px)'
